body{
    background-color: rgb(163, 163, 168);
    margin: 0;
}
.header{
    background-image: url("img/portada.jpeg") ;
    /*image-resolution: 100%;*/
    background-size: 100% 100%;
    height: 400px;
}
.material-icons{
    padding: 0px 1400px 0px 0px;
    color: #fff;
}
.menu ul{
    list-style: none;
    margin: 0;
    background-color: black;
    text-align:right;
    padding: 25px 30px 25px 30px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0px 30px 0px 0px;
}
.titulos h1{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 200px;
    margin-left: 200px;
    padding: 50px 10px;
    text-shadow: 5px 3px 4px white;
    font-size: 50px;
} 
.titulos h2{
    text-align: center;
    font-size: 20px;
    margin: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}
main{
    padding: 0 200px;
}
footer{
    background-color: black;
    color: white;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 200px;
}
